<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${ingredient.name}]]</title>
    <th:block th:replace="~{fragments/styles :: bootstrap}"></th:block>
</head>

<body>
    <header th:insert="~{fragments/navbar :: navbar}"></header>

    <main>
        <div class="d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;" th:object="${ingredient}">
                <div class="card-body">
                    <h5 class="card-title">[[*{name}]]</h5>
                    <p class="card-text">[[*{description}]]</p>
                    <div class="d-flex">
                        <a th:href="@{/ingredients/update/{id}(id=*{id})}" class="btn btn-primary">Edit</a>

                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Delete</button>
                        <form th:action="@{/ingredients/delete/{id}(id=*{id})}" method="post">
                            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modalLabel">Are you sure you want to
                                                delete it?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>